<app-header></app-header>

<div class="buscar">
<nz-input-group [nzSuffix]="suffixIconSearch">
    <input type="text" nz-input placeholder="input search text" />
  </nz-input-group>
  <ng-template #suffixIconSearch>
    <span nz-icon nzType="search"></span>
  </ng-template>
</div>

<div class="product-list">
    <div *ngFor="let product of products" class="card">
      <nz-card style="width:300px;" [nzCover]="coverTemplate" [nzActions]="[actionSetting, actionEdit, actionEllipsis]">
        <nz-card-meta
          [nzTitle]="product.name"
          [nzDescription]="'PEN: ' + product.price"
        ></nz-card-meta>
      </nz-card>
      <ng-template #coverTemplate>
        <img alt="example" src="assets/imagenes/product.jpg" />
      </ng-template>
      <ng-template #actionSetting>
        
      </ng-template>
      <ng-template #actionEdit>
        
      </ng-template>
      <ng-template #actionEllipsis>
        
      </ng-template>
    </div>
  </div>
  